:root {
  --basic-bg: linear-gradient(45deg, #047df4, #01188b);
  --standard-bg: linear-gradient(45deg, #00ff62, #233543);
  --premium-bg: linear-gradient(45deg, #ff2ff7, #4700ff);
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font: lighter 1rem sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(145deg, #3afdff, #005eeb);
}
.card {
  width: 20rem;
  height: 70vh;
  color: #fff;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  box-shadow: 0 0.2rem .5rem #0005;
  transition: .4s ease-in-out;
}


.card-basic, .card-basic .card-price {
  background-image: var(--basic-bg);
}
.card-standard, .card-standard .card-price {
  background-image: var(--standard-bg);
}
.card-premium, .card-premium .card-price {
  background-image: var(--premium-bg);
}
.card:not(:first-child) {
  margin-left: 1.5rem;
}
/*увеличение, зум карточки*/
.card:hover {
  cursor: pointer;
  transform: scale(1.2);
  z-index: 100;
}
/*тело карточки*/
.card-body {
  position: relative;
  height: 75%;
  border: .06rem solid #fff;
  border-bottom: none;
  border-radius: 8rem 8rem 0 0;
}
.card-price,
.card-features,
.card-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.card-price {
  top: -10%;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  border: .15rem solid #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-price-value {
  font: 700 2.5rem sans-serif;
}
.card-features {
  top: 31%;
  width: 100%;
}
.card-features ul {
  list-style-type: none;
}
.card-features ul li {
  position: relative;
}
.card-features ul li:not(:last-of-type) {
  margin-bottom: 1rem;
}
.card-features ul li::before,
.card-features ul li::after {
  position: absolute;
  content: '';
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.card-features ul li::before {
  width: .7rem;
  height: .4rem;
  border-left: .15rem solid #00b62a;
  border-bottom: .15rem solid #00b62a;

  left: 16%;
  top: 40%;
  z-index: 200;
}
.card-features ul li::after {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 50%;

  left: 14%;
}
.card-btn {
  bottom: 0;
  width: 70%;
  background-color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 1.5rem;
  text-transform: uppercase;
}
