@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}
.btnWTPNews {
  position: relative;
  display: inline-flex;
  padding: 10px 30px;
  border-radius: 4px;
  background: #363636;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
  overflow: hidden;
}
.btnWTPNews span {
  position: relative;
  z-index: 1;
}
.btnWTPNews::before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #2196f3;
  transition: width 0.9s, height 0.9s;
}
.btnWTPNews:hover::before {
  width: 300px;
  height: 300px;
}
